.fill-remaining-space {
    flex: 1 1 auto;
  }
  
  .container {
    padding: 10px;
  }
  
  .form {
    width: 100%;
  }
  
  .form-element {
    padding: 5px 0px 25px 2px;
    width: 100%;
  }
  
  .button {
    width: 100%;
  }

  mat-form-field {
    width: 100%;
  }

  mat-card {
    margin: 0 80px
  }